html, body {
  margin: 0;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/** 
  Modal: #modal

  1) Add a temporary background colour of 'orange'
  2) Add a padding of 20px
  3) Add a height of 200px
  4) Add a margin of 0 & auto to make sure our Modal is centered
   5) Add a max-width of 600px
**/

/* Modal Styling */
#modal {
  background: orange;
  padding: 20px;
  height: 200px;
  margin: 0 auto;
  max-width: 600px;
}





/* Buttons */

#open-modal,
#close-modal {
  background: royalblue;
  cursor: pointer;
  padding: 15px;
  font-size: 25px;
  color: white;
}
