html, body {
  margin: 0;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* Modal Styling */
#modal {
  background: orange;
  padding: 20px;
  height: 200px;
  margin: 0 auto;
  max-width: 600px;
}

#overlay {
  display: none;
}





/* Buttons */

#open-modal,
#close-modal {
  background: royalblue;
  cursor: pointer;
  padding: 15px;
  font-size: 25px;
  color: white;
}
